form {
  display: flex;
  flex-direction: column;
  section {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
    input {
      padding: 5px;
      border: 1px solid #ccc;
      border-radius: 5px;
    }
  }
  button {
    padding: 5px 0;
    background-color: #99cc;
    border: none;
    border-radius: 5px;
  }
}
