* {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  padding: 0 20px;
  height: 75px;
  border-bottom: 1px solid #ccc;
  background-color: #008080;
  color: #fff;
  h1 {
    font-size: 28px;
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      display: inline-block;
      margin: 0 15px;
      &:last-child {
        margin-left: 80px;
      }
      a {
        color: #fff;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
      &#themeSwitch {
        cursor: pointer;
      }
    }
  }
}

footer {
  margin-top: 20px;
  text-align: center;
}

/* Dark Mode Styles */

.dark {
  background-color: #000;
  color: #fff;

  &.blog section {
    border-color: #008080;
    box-shadow: 5px 5px 10px #008080;
    &:nth-child(even) {
      background-color: #333;
    }
  }
}
